<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
    <head th:fragment="head(title)">
        <title th:replace="${title}">这个页面的title未定义</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.css">
        <script src="/js/bootstrap.min.js" type="application/javascript"></script>
        <link rel="stylesheet" href="/css/community.css">
    </head>
</body>

</html>